Repository ryanrozich/jira-to-airtable-mirror, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, github-actions, tests, app-code, infrastructure, scripts, build

fix: correct record formatting for Airtable batch operations
  sync.py
Labels: app-code

fix: improve Jira issue fetching and parent relationship handling
  sync.py
Labels: app-code

fix: improve environment variable handling in Docker
  .env.example
  justfile
  requirements.txt
Labels: dependencies, build

improvement: enhance validation script output and fix env loading
  justfile
  scripts/test_airtable_connection.py
  scripts/validate_schema.py
  sync.py
Labels: app-code, scripts, build

feat: add CloudWatch alarms for Lambda memory utilization
  terraform/aws/main.tf
  terraform/aws/modules/lambda/main.tf
Labels: infrastructure

docs: reorganize terraform documentation and add deployment decision tree
  terraform/README.md
  terraform/aws/README.md
Labels: documentation, infrastructure

fix: update field mapping validation to accept direct Airtable field IDs
  scripts/validate_aws.py
  scripts/validate_config.py
  scripts/validate_docker.py
Labels: scripts

Improve validation scripts output and environment variable handling
  scripts/run_validation.py
  scripts/tests/airtable_connection.py
  scripts/tests/jira_connection.py
  scripts/tests/sync.py
  scripts/validation/aws.py
  scripts/validation/docker.py
  scripts/validation/schema.py
Labels: scripts

Move validation scripts to new directory structure
  scripts/README.md
  scripts/__init__.py
  scripts/schema/README.md
  scripts/schema/__init__.py
  scripts/schema/airtable.py
  scripts/schema/jira.py
  scripts/test_airtable_connection.py
  scripts/test_jira_connection.py
  scripts/test_sync.py
  scripts/tests/README.md
  scripts/tests/__init__.py
  scripts/validate_aws.py
  scripts/validate_docker.py
  scripts/validate_schema.py
  scripts/validation/README.md
  scripts/validation/__init__.py
  scripts/validation/config.py
  scripts/validation/jira_fields.py
  scripts/validation/tracking_fields.py
Labels: documentation, scripts

Update project configuration and documentation
  .env.example
  Dockerfile
  README.md
  app.py
  justfile
  requirements.txt
  sync.py
  terraform/aws/README.md
  terraform/aws/main.tf
  terraform/aws/modules/lambda/main.tf
  terraform/aws/terraform.tfvars.example
  terraform/aws/variables.tf
Labels: documentation, dependencies, app-code, infrastructure, build

Organize utility and test scripts
  config.py
  scripts/tests/test_jira.py
  scripts/utils/__init__.py
  scripts/utils/list_projects.py
Labels: scripts

Update README files
  scripts/README.md
  scripts/tests/README.md
  scripts/utils/README.md
Labels: documentation, scripts

refactor: improve field mapping and logging
  .env.example
  config.py
  justfile
  sync.py
  terraform/aws/terraform.tfvars.example
Labels: app-code, infrastructure, build

refactor: reorganize scripts and add metrics
  scripts/README.md
  scripts/get_metrics.py
  scripts/metrics/README.md
  scripts/metrics/__init__.py
  scripts/metrics/collector.py
  scripts/metrics/formatter.py
  scripts/metrics/utils.py
  scripts/schema/airtable_schema.py
  scripts/schema/jira_schema.py
  scripts/validation/config.py
Labels: documentation, scripts

docs: update documentation and infrastructure
  README.md
  requirements.txt
  terraform/aws/README.md
  terraform/aws/docs/metrics.md
  terraform/aws/docs/notifications.md
  terraform/aws/main.tf
  terraform/aws/variables.tf
Labels: documentation, dependencies, infrastructure

chore: update terraform example vars with latest format
  terraform/aws/terraform.tfvars.example
Labels: infrastructure

fixed bug in json format of tfvars example
  terraform/aws/terraform.tfvars.example
Labels: infrastructure

linting
  sync.py
  todo.md
Labels: documentation, app-code

update justfile lint fixes
  todo.md
Labels: documentation

Fix linting issues in sync.py and update justfile to ignore whitespace warnings
  justfile
  sync.py
Labels: app-code, build

Update dependencies to latest versions from Dependabot PRs
  requirements.txt
Labels: dependencies

Fix Jira key extraction and parent relationship handling for dictionary-formatted issues
  requirements.txt
  sync.py
Labels: dependencies, app-code

Potential fix for code scanning alert no. 2: Clear-text logging of sensitive information
  config.py
Labels: none

Update security-scan recipe with informational message
  justfile
Labels: build

Update CI workflow to ignore whitespace warnings
  .github/workflows/ci.yml
Labels: github-actions

fix security issues
  config.py
Labels: none

.github/labeler.yml:

documentation:
  - '**/*.md'
  - docs/**/*

dependencies:
  - requirements.txt
  - poetry.lock
  - pyproject.toml

github-actions:
  - .github/**/*

tests:
  - tests/**/*
  - '**/*_test.py'
  - '**/*_tests.py'

app-code:
  - app.py
  - sync.py

infrastructure:
  - '**/*.tf'
  - '**/*.tfvars'
  - terraform/**/*

scripts:
  - scripts/**/*

build:
  - justfile
  - Dockerfile
  - .dockerignore
